.Content {
  padding: {
    top: $layout-content-top-padding;
    bottom: $layout-content-bottom-padding;
  }
}

.Content-header {
  margin-bottom: 20px;
  @include pie-clearfix;

  h1 {
    margin: 0;
    font-size: $layout-content-heading-font-size;
    text-shadow: 1px 1px rgba(255, 255, 255, .5);
  }

  .Breadcrumb {
    float: right;
    @include text-middle("ul");

    ul {
      margin-left: 8px;
      overflow: hidden;
    }

    li {
      float: left;
      font-size: 12px;

      + li:before {
        content: "/";
        margin: 0 5px;
      }
    }
  }
}
