.Page-body,
.Page-content {
  height: 100%;
}

html.is-legacy .Page,
.Page.is-legacy {
  padding-top: $layout-header-height + 1px + 24px !important;
}

.Page {
  overflow: hidden;
  background-color: #eee;

  @include box-fixed-height(
    ".Page-header", $layout-header-height + 1px,
    ".Page-footer", 0,
    ".Page-body"
  );
}

.Page-header {
  position: relative;
  z-index: 99;
  padding: {
    right: 15px;
    left: 15px;
  }
  border-bottom: 1px solid $layout-header-border-color;
  background-color: $layout-header-bg-color;
  overflow: visible !important;
  @include pie-clearfix;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, .3));
}

.Page-sidebar,
.Page-content {
  overflow: auto;
}
