<header class="Page-header Header">
  <button class="Header-toggle" type="button"><i class="fa fa-bars"></i></button>
  <div class="Header-brand">
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }}"><img src="{{ 'muu/logo.png' | asset_path }}" srcset="{{ 'muu/logo-2x.png' | asset_path }} 2x" alt="{{ site.title }}"><span>统一 UI 框架</span></a>
  </div>
  <nav class="Header-navs hidden-xs">
    <ul>
      <li{% if page.collection == "cookbook" %} class="is-active"{% endif %}><a href="{{ '/cookbook/' | prepend: site.baseurl | prepend: site.url }}">手册</a></li>
      <li{% if page.collection == "showcase" %} class="is-active"{% endif %}><a href="{{ '/showcase/' | prepend: site.baseurl | prepend: site.url }}">示例</a></li>
    </ul>
  </nav>
  {% if page.collection == "admin" or page.collection == "adaptors" %}
    <div class="Header-extra">
      <div class="Header-operations">
        {% ifhascontent newdata_dialog %}<div class="Header-action Action"><button class="Action-trigger fa fa-plus js-add--header" type="button" data-toggle="modal" data-target=".js-addNewData" title="新增"><span class="sr-only">新增</span></button></div>{% endifhascontent %}
        <div class="Header-action Action Action--avatar"><a class="Action-trigger" href="javascript:void(0);"><img src="{{ 'avatar.jpg' | asset_path }}" alt="欧雷"></a>
          <div class="Action-content Card">
            <div class="Card-content">
              <ul>
                <li><a href="mailto:ourairyu@gmail.com">ourairyu@gmail.com</a></li>
              </ul>
            </div>
            <div class="Card-footer">
              <a href="{{ '/admin/' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-default btn-xs">退出</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</header>
