<div class="Page-sidebar Sidebar">
  <nav class="Sidebar-navs Navs">
    <ul>
      <li data-flag="introduction"><a href="{{ '/cookbook/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-fw fa-info-circle"></i><span>介绍</span></a></li>
      <li data-flag="principles">
        <a href="javascript:void(0);"><i class="fa fa-fw fa-legal"></i><span>约定</span></a>
        <div class="Navs">
          <ul>
            <!-- <li data-flag="design"><a href="{{ '/cookbook/design/' | prepend: site.baseurl | prepend: site.url }}">设计原则</a></li> -->
            <li data-flag="spec"><a href="{{ '/cookbook/spec/' | prepend: site.baseurl | prepend: site.url }}">代码规范</a></li>
          </ul>
        </div>
      </li>
      <li data-flag="guide">
        <a href="javascript:void(0);"><i class="fa fa-fw fa-book"></i><span>教程</span></a>
        <div class="Navs">
          <ul>
            <li data-flag="usage"><a href="{{ '/cookbook/usage/' | prepend: site.baseurl | prepend: site.url }}">阅读指导</a></li>
            <li data-flag="installation"><a href="{{ '/cookbook/installation/' | prepend: site.baseurl | prepend: site.url }}">下载安装</a></li>
            <li data-flag="composition"><a href="{{ '/cookbook/composition/' | prepend: site.baseurl | prepend: site.url }}">框架构成</a></li>
            <li data-flag="scaffolding"><a href="{{ '/cookbook/scaffolding/' | prepend: site.baseurl | prepend: site.url }}">搭建页面</a></li>
          </ul>
        </div>
      </li>
      <li data-flag="templates">
        <a href="javascript:void(0);"><i class="fa fa-fw fa-file-code-o"></i><span>页面模板</span></a>
        <div class="Navs">
          <ul>
            <li data-flag="velocity"><a href="{{ '/cookbook/velocity/' | prepend: site.baseurl | prepend: site.url }}">Velocity</a></li>
            <li data-flag="thymeleaf"><a href="{{ '/cookbook/thymeleaf/' | prepend: site.baseurl | prepend: site.url }}">Thymeleaf</a></li>
          </ul>
        </div>
      </li>
      <!-- <li data-flag="components"><a href="{{ '/cookbook/components/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-fw fa-cubes"></i><span>组件</span></a></li> -->
      <li data-flag="utilities"><a href="{{ '/cookbook/utilities/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-fw fa-paint-brush"></i><span>辅助样式</span></a></li>
      <li data-flag="api">
        <a href="javascript:void(0);"><i class="fa fa-fw fa-code"></i><span>API</span></a>
        <div class="Navs">
          <ul>
            <li data-flag="configuration"><a href="{{ '/cookbook/configuration/' | prepend: site.baseurl | prepend: site.url }}">全局配置</a></li>
            <li data-flag="communication"><a href="{{ '/cookbook/communication/' | prepend: site.baseurl | prepend: site.url }}">数据通信</a></li>
            <li data-flag="table"><a href="{{ '/cookbook/table/' | prepend: site.baseurl | prepend: site.url }}">数据列表</a></li>
            <li data-flag="form"><a href="{{ '/cookbook/form/' | prepend: site.baseurl | prepend: site.url }}">表单</a></li>
            <li data-flag="dialog"><a href="{{ '/cookbook/dialog/' | prepend: site.baseurl | prepend: site.url }}">对话框</a></li>
            <li data-flag="generator"><a href="{{ '/cookbook/generator/' | prepend: site.baseurl | prepend: site.url }}">生成器</a></li>
            <li data-flag="uploader"><a href="{{ '/cookbook/uploader/' | prepend: site.baseurl | prepend: site.url }}">上传器</a></li>
            <li data-flag="encryption"><a href="{{ '/cookbook/encryption/' | prepend: site.baseurl | prepend: site.url }}">加密</a></li>
            <li data-flag="notification"><a href="{{ '/cookbook/notification/' | prepend: site.baseurl | prepend: site.url }}">通知</a></li>
            <li data-flag="lbs"><a href="{{ '/cookbook/lbs/' | prepend: site.baseurl | prepend: site.url }}">位置服务</a></li>
            <li data-flag="text"><a href="{{ '/cookbook/text/' | prepend: site.baseurl | prepend: site.url }}">文本处理</a></li>
            <li data-flag="calculation"><a href="{{ '/cookbook/calculation/' | prepend: site.baseurl | prepend: site.url }}">数学运算</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
