$submission-footer-height: rem(140px) !default;
$submission-footer-padding: rem(30px) !default;
$submission-footer-bg-color: #fff !default;
$submission-footer-box-shadow: rem(0 0 5px 0 #e7e7e7) !default;

$submission-button-width: 100% !default;
$submission-button-height: rem(80px) !default;
$submission-button-bg-color: $theme-color !default;
$submission-button-text-color: inherit !default;
$submission-button-siblings-space: rem(20px) !default;
$submission-button-border-color: $submission-button-bg-color !default;
$submission-button-border-radius: rem(4px) !default;
$submission-button-font-size: rem(32px) !default;
$submission-button-font-weight: 500 !default;

$submission-primary-width: $submission-button-width !default;
$submission-primary-bg-color: $submission-button-bg-color !default;
$submission-primary-text-color: #fff !default;

$submission-secondary-width: rem(200px) !default;
$submission-secondary-bg-color: $submission-primary-text-color !default;
$submission-secondary-text-color: $submission-primary-bg-color !default;
