.DS_Store
.git

node_modules
*.log

.sass-cache
.idea

/bower_components
/docs/bower_components/*
!/docs/bower_components/jquery-*
!/docs/bower_components/handie-*
!/docs/bower_components/fontawesome-*
