*.log

.*-tmp
.*-cache
.DS_Store
.git
.idea
.jekyll-metadata
.tmp

_site

bower_components
node_modules
dist

/backup

/site/_adaptors/vendor
/site/_admin/bower_components
/site/_admin/vendor
/site/_cookbook/_book

/src/vendors

/test/assets
/test/jquery/assets
/test/vue/*.bundle.js
