.DS_Store
.git
.handie-tmp
.idea
.sass-cache

node_modules
*.log

/bower_components
/docs/bower_components/*
!/docs/bower_components/jquery-*
!/docs/bower_components/handie-*
!/docs/bower_components/fontawesome-*
!/docs/bower_components/h5fx-*
!/docs/bower_components/bootstrap-sass-*
