*.json
*.log
*.md

.*-tmp
.*-cache
.bowerrc
.DS_Store
.git
.idea
.editorconfig
.tmp
.vscode

bower_components
node_modules

/backup
/build
/docs
/examples
/scripts
/site
/src
/test
/tests

gulpfile.js
