$layout-header-height: 64px !default;
$layout-header-bg-color: #fff;
$layout-header-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);

$layout-brand-font-weight: 300;
$layout-brand-text-color: #676767;

$layout-body-bg-color: #f1f1f1;

$layout-sidebar-width: 210px;
$layout-sidebar-text-color: #666;
$layout-sidebar-item-hover: #e7e7e7;
