<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Sidebar first</title>
    <link rel="stylesheet" href="/assets/handie/stylesheets/admin-sf.css">
    <script src="/assets/handie/javascripts/admin-sf.js"></script>
  </head>
  <body class="Page">
    <div class="Page-sidebar Sidebar">
      <div class="Sidebar-brand">
        <a href="/">Handie</a>
      </div>
      <nav class="Sidebar-navs Navs">
        <ul class="Navs-menu Menu" data-flag="2.407798168104961E15">
          <li class="Menu-label"><span>金融平台</span></li>
          <li data-flag="我的工作台" class="is-childless">
            <a href="http://tida.maihaoche.com/myDashboard.htm"><i class="fa fa-fw fa-dashboard"></i><span>我的工作台</span></a>
          </li>
          <li data-flag="节点监控" class="is-childless">
            <a href="http://tida.maihaoche.com/getNodeControl.htm"><i class="fa fa-fw fa-sliders"></i><span>节点监控</span></a>
          </li>
          <li data-flag="订单管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-th"></i><span>订单管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="库融宝列表"><a href="http://tida.maihaoche.com/carLoan/orderList.htm">库融宝列表</a></li>
                <li data-flag="订单宝列表"><a href="http://tida.maihaoche.com/orderLoan/orderList.htm">订单宝列表</a></li>
                <li data-flag="接车宝列表"><a href="http://tida.maihaoche.com/receiveCar/orderList.htm">接车宝列表</a></li>
                <li data-flag="数据订正列表"><a href="http://tida.maihaoche.com/dataCorrection/dataList.htm">数据订正列表</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="车辆管理" class="is-active">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-car"></i><span>车辆管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="自定义车型人工处理" class="is-active"><a href="http://tida.maihaoche.com/carMgn/diyCarList.htm">自定义车型人工处理</a></li>
                <li data-flag="核价列表"><a href="http://tida.maihaoche.com/carMgn/pricesList.htm">核价列表</a></li>
                <li data-flag="三方监管列表"><a href="http://tida.maihaoche.com/supervision/list.htm">三方监管列表</a></li>
                <li data-flag="可出库手续列表"><a href="http://tida.maihaoche.com/supervision/outCar.htm?status=2">可出库手续列表</a></li>
                <li data-flag="手续承诺函"><a href="http://tida.maihaoche.com/commitment/list.htm">手续承诺函</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="合同管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-file-excel-o"></i><span>合同管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="模版管理"><a href="http://tida.maihaoche.com/contracttemplates.htm">模版管理</a></li>
                <li data-flag="资方合同模板管理"><a href="http://tida.maihaoche.com/template/capitalTemplateList.htm">资方合同模板管理</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="金融产品中心">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-balance-scale"></i><span>金融产品中心</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="模版列表"><a href="http://tida.maihaoche.com/geely/template/templateList.htm">模版列表</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="结算管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-rmb"></i><span>结算管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="金融结算单列表"><a href="http://tida.maihaoche.com/payment/list.htm">金融结算单列表</a></li>
                <li data-flag="基础结算列表"><a href="http://tida.maihaoche.com/proceeds/list.htm">基础结算列表</a></li>
                <li data-flag="计费模板列表"><a href="http://tida.maihaoche.com/calcualteRule/list.htm">计费模板列表</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="风险管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-area-chart"></i><span>风险管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="风险商家列表"><a href="http://tida.maihaoche.com/blacklist.htm">风险商家列表</a></li>
                <li data-flag="企业关联查询"><a href="http://tida.maihaoche.com/riskManagement/relatedResultList.htm">企业关联查询</a></li>
                <li data-flag="预警规则列表"><a href="http://tida.maihaoche.com/riskManagement/riskRule/list.htm">预警规则列表</a></li>
                <li data-flag="预警消息列表"><a href="http://tida.maihaoche.com/riskManagement/riskFact/list.htm">预警消息列表</a></li>
                <li data-flag="信用测评列表"><a href="http://tida.maihaoche.com/riskReport/riskReportList.htm">信用测评列表</a></li>
                <li data-flag="商家授信列表"><a href="http://tida.maihaoche.com/venucia/credit/creditList.htm">商家授信列表</a></li>
                <li data-flag="个人信用测评"><a href="http://tida.maihaoche.com/personRiskReport/personRiskReportList.htm">个人信用测评</a></li>
                <li data-flag="企业简版测评"><a href="http://tida.maihaoche.com/companyRiskReport/companyRiskReportList.htm">企业简版测评</a></li>
                <li data-flag="还款承诺函列表"><a href="http://tida.maihaoche.com/repayment/repaymentList.htm">还款承诺函列表</a></li>
                <li data-flag="测评配置管理"><a href="http://tida.maihaoche.com/assessmentConfig/list.htm">测评配置管理</a></li>
                <li data-flag="个人灰黑名单"><a href="http://tida.maihaoche.com/personalBlacklist/list.htm">个人灰黑名单</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="资方管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-university"></i><span>资方管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="资方基础信息列表"><a href="http://tida.maihaoche.com/capitalManagement/capitalBasicInfoList.htm">资方基础信息列表</a></li>
                <li data-flag="资方合作信息列表"><a href="http://tida.maihaoche.com/capitalManagement/capitalPartnerInfoList.htm">资方合作信息列表</a></li>
                <li data-flag="资方银行卡列表"><a href="http://tida.maihaoche.com/capitalAccount/list.htm">资方银行卡列表</a></li>
                <li data-flag="资方合同管理"><a href="http://tida.maihaoche.com/capitalContract/list.htm">资方合同管理</a></li>
                <li data-flag="资方准入要求"><a href="http://tida.maihaoche.com/capitalAccess/accessList.htm">资方准入要求</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="资产管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-credit-card-alt"></i><span>资产管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="借据信息列表"><a href="http://tida.maihaoche.com/debt/debtList.htm">借据信息列表</a></li>
                <li data-flag="资产统计"><a href="http://tida.maihaoche.com/statistics/assetsStatistics.htm">资产统计</a></li>
                <li data-flag="超期借据列表"><a href="http://tida.maihaoche.com/overdue/overdueList.htm">超期借据列表</a></li>
                <li data-flag="可用资金配置"><a href="http://tida.maihaoche.com/capitalConfig/list.htm">可用资金配置</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="标签管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-paperclip"></i><span>标签管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="标签列表"><a href="http://tida.maihaoche.com/label/labelManage.htm">标签列表</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="债权转让管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-gavel"></i><span>债权转让管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="债权转让项目"><a href="http://tida.maihaoche.com/debtAssign/projectList.htm">债权转让项目</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="资金撮合平台">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-money"></i><span>资金撮合平台</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="资金撮合待办"><a href="http://tida.maihaoche.com/budgetAudit/auditList.htm">资金撮合待办</a></li>
                <li data-flag="资方资金管理"><a href="http://tida.maihaoche.com/capitalPool/capitalPoolList.htm">资方资金管理</a></li>
                <li data-flag="预算通知配置"><a href="http://tida.maihaoche.com/staffConfig/staffConfigList.htm">预算通知配置</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="商户审批">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-address-card-o"></i><span>商户审批</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="签章人列表"><a href="http://tida.maihaoche.com/sign/certification/list.htm">签章人列表</a></li>
              </ul>
            </div>
          </li>
          <li data-flag="账单管理">
            <a href="javascript:void(0);"><i class="fa fa-fw fa-money"></i><span>账单管理</span><span class="Menu-switcher"><i class="fa fa-angle-right"></i></span></a>
            <div class="Navs">
              <ul>
                <li data-flag="费用类型"><a href="http://tida.maihaoche.com/fee/feeEntList.htm">费用类型</a></li>
                <li data-flag="计费产品"><a href="http://tida.maihaoche.com/fee/productList.htm">计费产品</a></li>
                <li data-flag="账单列表"><a href="http://tida.maihaoche.com/fee/billRecordList.htm">账单列表</a></li>
                <li data-flag="费用明细"><a href="http://tida.maihaoche.com/fee/feeDetail.htm">费用明细</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="Page-main">
      <header class="Page-header Header">
        <button class="Header-toggle" type="button"><i class="fa fa-bars"></i></button>
        <div class="Header-extra">
          <div class="Header-operations">
              <div class="Header-action Action Action--avatar"><a class="Action-trigger" href="javascript:void(0);"><span>欧雷</span></a>
                <div class="Action-content Card">
                  <div class="Card-content">
                    <ul>
                      <li>13067847489</li>
                      <li>oulei@maihaoche.com</li>
                    </ul>
                  </div>
                  <div class="Card-footer">
                    <a class="btn btn-default btn-xs" href="/logout.htm">退出</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </header>
      <main class="Page-body">
        <p>Content</p>
      </main>
    </div>
  </body>
</html>
