@import "../../stylesheets/helper";

:host {
  display: block;

  form:not(.form-horizontal) {
    .control-label {
      font: {
        size: 12px;
        weight: normal;
      }
      
      margin-bottom: 3px;
    }
  }
}
