/**
 * 车辆属性集合
 */

.FieldSet--carProps {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    padding: 5px 10px;
  }

  th {
    text-align: right;
  }

  select {
    width: 150px;
  }

  .Field--customModel,
  .Field--customOuter,
  .Field--customInner {
    display: inline-block;
    width: 150px;
    visibility: hidden;

    &.is-visible {
      visibility: visible;
    }
  }
}



.FieldGroup--period {
  @include text-middle("input, span");

  input {
    width: 45%;
  }

  span {
    width: 10%;
    text-align: center;
  }
}
