.ImageList {
  &:not(.u-hidden) + .ImageList:not(.u-hidden) {
    margin-top: 15px;
  }
}

.ImageItem {
  position: relative;
  text-align: center;
  background-color: #a6a6a6;

  &,
  &:not(.ImageItem--add) > div {
    border-radius: 6px;
  }

  &:not(.ImageItem--add) > div,
  &.ImageItem--add {
    @include aspect_ratio(4, 3);
  }

  &.ImageItem--add {
    border: 2px dashed #a6a6a6;
    background-color: transparent;

    > div {
      @include text-middle("> span");
    }

    span span {
      display: block;
      font-weight: normal;
    }

    .fa {
      font-size: 50px;
    }
  }

  &.is-empty,
  &:not(.is-empty) + .ImageItem--add,
  &.is-uploading .ImageItem-button {
    display: none;
  }

  &.is-uploading a {
    &[href=""],
    &[href="#"],
    &[href^="javascript"] {
      &:after {
        content: "图片正在上传";
      }
    }
  }

  &.is-nongraphic a {
    > img {
      display: none;
    }

    &:after {
      content: attr(data-file-ext);
    }
  }

  a[href=""],
  a[href="#"],
  a[href^="javascript"],
  &.is-nongraphic a {
    &:after {
      font: {
        size: 24px;
        weight: normal;
      }
      color: #666;
      @include inline-block;
    }
  }

  a {
    @include text-middle("> img");

    &[href=""],
    &[href="#"],
    &[href^="javascript"] {
      cursor: default;

      > img {
        display: none;
      }

      &:after {
        content: "暂无图片";
      }
    }
  }

  img {
    max-height: 100%;
  }

  figcaption {
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 6px 6px;
    @include stretch(auto);
  }
}

figure.ImageItem {
  z-index: 2;
}

button.ImageItem {
  display: block;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.ImageItem-button {
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  border-style: none;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}
