.ImageItem {
  position: relative;
  text-align: center;
  background-color: #a6a6a6;

  &,
  &:not(.ImageItem--add) > div {
    border-radius: 6px;
  }

  &:not(.ImageItem--add) > div,
  &.ImageItem--add {
    @include aspect_ratio(4, 3);
  }

  a {
    @include text-middle("> img");
  }

  img {
    max-height: 100%;
  }

  figcaption {
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 6px 6px;
    @include stretch(auto);
  }

  &.ImageItem--add {
    border: 2px dashed #a6a6a6;
    background-color: transparent;

    > div {
      @include text-middle("> span");
    }

    span span {
      display: block;
      font-weight: normal;
    }

    .fa {
      font-size: 50px;
    }
  }
}

button.ImageItem {
  width: 100%;
  padding: 0;
}
