.Layer--browserTip,
.Layer--notice {
  position: absolute;
  right: 0;
  left: 0;
  height: 24px;
  padding: {
    right: 10px;
    left: 10px;
  }
  font-size: 12px;
  @include text-middle(".fa, span");

  &.is-medium {
    font-size: 14px;
    height: 28px;
  }

  &.is-large {
    font-size: 16px;
    height: 32px;
  }

  span {
    margin-left: 5px;
    line-height: 1;
  }
}

.Layer--browserTip {
  top: 0;
}

.Layer--notice {
  display: none;
  top: $layout-header-height + 1px;
  z-index: 10;

  &.is-over {
    top: 0;
    z-index: 99999;
  }

  &.is-shown {
    display: block;
    @include animation(1.5s fadeout);
  }
}

.Layer--loading {
  text-align: center;
  background-color: rgba(255, 255, 255, .7);
  @include stretch($modal-header-height, 0, $modal-footer-height);
  @include text-middle("p");

  p {
    margin: 0;
    font-weight: normal;
  }
}

.Layer--watermark {
  top: $modal-header-height !important;
  bottom: $modal-footer-height !important;
}
