$action-sheet-bg-color: #f3f4f5 !default;
$action-sheet-font-size: rem(30px) !default;
$action-sheet-text-color: #373737 !default;

$action-sheet-mask-bg-color: rgba(0, 0, 0, .6) !default;

$action-sheet-item-bg-color: #fff !default;
$action-sheet-item-border-color: #e7e7e7 !default;
$action-sheet-item-height: rem(100px) !default;

$action-sheet-title-font-size: rem(26px) !default;
$action-sheet-title-font-weight: inherit !default;
$action-sheet-title-text-color: #626262 !default;
$action-sheet-title-height: rem(60px) !default;

$action-sheet-cancel-button-text-color: $action-sheet-title-text-color !default;
$action-sheet-footer-siblings-space: rem(20px) !default;
