$list-border-color: #e7e7e7 !default;
$list-bg-color: #fff !default;
$list-siblings-space: rem(20px) !default;

$list-item-min-height: rem(45px) !default;
$list-item-vertical-padding: rem(10px) !default;
$list-item-horizontal-padding: rem(15px) !default;
$list-item-font-size: rem(14px) !default;
$list-item-text-color: rgba(0, 0, 0, .9) !default;
$list-item-border-offset: rem(15px) !default;
$list-item-multiline-gap: rem(3px) !default;

$list-brief-font-size: rem(12px) !default;
$list-brief-text-color: rgba(0, 0, 0, .6) !default;

$list-extra-icon-size: rem(26px) !default;
$list-extra-icon-offset-left: rem(-3.5px) !default;
$list-extra-icon-offset-right: rem(-7.5px) !default;

$input-item-label-text-color: inherit !default;
