.Page {
  overflow: hidden;
  @include base-layout;

  html.is-legacy &,
  &.is-legacy {
    padding-top: $layout-header-height + 1px + 24px !important;
  }
}

.Page-body,
.Page-sidebar,
.Page-content {
  height: 100%;
}

.Page-sidebar,
.Page-content {
  overflow: auto;
}
