$layout-header-bg-color: #0871ab;
$layout-header-border-color: #cae6f1;
$layout-header-border-width: 1px;

$layout-brand-font-weight: 300;
$layout-brand-text-color: #fff;

$layout-sidebar-text-color: #666;
$layout-sidebar-item-hover: #e7e7e7;
