.InfoSection-title {
  margin: 0 0 15px;
  padding-left: 5px;
  border-left: 2px solid #1e2332;
  font-size: 14px;
  font-weight: normal;

  button {
    float: right;
    padding: 0;
    border-style: none;
    background-color: transparent;
  }
}

.Link--prominent {
  font-weight: 400;
  text-decoration: underline !important;
}

.Area--systemSettings .tab-pane > .btn,
.Area--systemSettings .tab-pane > .row > div > .btn,
.Form--searcher {
  margin-top: 15px;
  margin-bottom: 10px;
}

.Area--systemSettings .tab-pane > .btn .fa + span,
.Area--systemSettings .tab-pane > .row > div > .btn .fa + span,
.Form--searcher .fa + span,
.Form--searcher .btn + .btn {
  margin-left: 5px;
}

.bootstrap-table {
  margin-top: 15px;
}
