<form class="FieldSet--carProps js-fillCarsInfo">
  <table>
    <colgroup>
      <col style="width: 6em;">
      <col style="">
    </colgroup>
    <tbody>
      {% include admin/car-props-basic.html %}
      {% ifhascontent carset_fields %}{% contentblock carset_fields %}{% endifhascontent %}
      <tr>
        <th>数量</th>
        <td>
          <div class="FieldGroup"><input class="form-control input-sm" type="number" name="carNumber" value="0" min="1" data-h5f-label="车辆数量" required></div>
        </td>
      </tr>
      <tr>
        <th>车架号</th>
        <td>
          <div class="FieldGroup"><textarea class="form-control input-sm" rows="3" name="carUniques" data-h5f-label="车架号" required placeholder="同一车辆属性下有多辆车，可一次性输入车架号，每行一个车架号。"></textarea></div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
