<div class="CarInspection">
  <ul class="nav nav-tabs">
    <li class="active"><a href="[data-flag='perfect']" data-toggle="tab">常规照片</a></li>
    <li><a href="[data-flag='defective']" data-toggle="tab">异常照片</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active CarInspection-photos" data-flag="perfect">
      <div class="ImageList row">
        <div class="ImageList-item col-sm-4">
          <figure class="ImageItem">
            <div><a href="" target="_blank"><img src="" alt="前45°" data-field="imgFront"></a></div>
            <figcaption>前45°</figcaption>
            <button type="button" class="ImageItem-button fa fa-close js-removeUploadedImage" title="删除"><span class="sr-only">&times;</span></button>
          </figure>
          <button class="ImageItem ImageItem--add js-uploadCarPhoto" type="button">
            <div><span><i class="fa fa-plus"></i><span>前45°</span></span></div>
          </button>
        </div>
        <div class="ImageList-item col-sm-4">
          <figure class="ImageItem">
            <div><a href="" target="_blank"><img src="" alt="后45°" data-field="imgBehind"></a></div>
            <figcaption>后45°</figcaption>
            <button type="button" class="ImageItem-button fa fa-close js-removeUploadedImage" title="删除"><span class="sr-only">&times;</span></button>
          </figure>
          <button class="ImageItem ImageItem--add js-uploadCarPhoto" type="button">
            <div><span><i class="fa fa-plus"></i><span>后45°</span></span></div>
          </button>
        </div>
        <div class="ImageList-item col-sm-4">
          <figure class="ImageItem">
            <div><a href="" target="_blank"><img src="" alt="内饰" data-field="imgInner"></a></div>
            <figcaption>内饰</figcaption>
            <button type="button" class="ImageItem-button fa fa-close js-removeUploadedImage" title="删除"><span class="sr-only">&times;</span></button>
          </figure>
          <button class="ImageItem ImageItem--add js-uploadCarPhoto" type="button">
            <div><span><i class="fa fa-plus"></i><span>内饰</span></span></div>
          </button>
        </div>
      </div>
      <div class="ImageList row">
        <div class="ImageList-item col-sm-4">
          <figure class="ImageItem">
            <div><a href="" target="_blank"><img src="" alt="里程表" data-field="imgOdometer"></a></div>
            <figcaption>里程表</figcaption>
            <button type="button" class="ImageItem-button fa fa-close js-removeUploadedImage" title="删除"><span class="sr-only">&times;</span></button>
          </figure>
          <button class="ImageItem ImageItem--add js-uploadCarPhoto" type="button">
            <div><span><i class="fa fa-plus"></i><span>里程表</span></span></div>
          </button>
        </div>
        <div class="ImageList-item col-sm-4">
          <figure class="ImageItem">
            <div><a href="" target="_blank"><img src="" alt="铭牌" data-field="imgNameplate"></a></div>
            <figcaption>铭牌</figcaption>
            <button type="button" class="ImageItem-button fa fa-close js-removeUploadedImage" title="删除"><span class="sr-only">&times;</span></button>
          </figure>
          <button class="ImageItem ImageItem--add js-uploadCarPhoto" type="button">
            <div><span><i class="fa fa-plus"></i><span>铭牌</span></span></div>
          </button>
        </div>
      </div>
    </div>
    <div class="tab-pane CarInspection-photos" data-flag="defective">
      <div class="ImageList row">
        <div class="ImageList-item col-sm-4">
          <button class="ImageItem ImageItem--add js-unusualPhotos" type="button" style="display: block;">
            <div><span><i class="fa fa-plus"></i><span>上传验车图片</span></span></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
