<tr>
  <th>车源</th>
  <td>
    <div class="FieldGroup">
      <select name="spec" class="js-selectSpec form-control input-sm" data-placeholder="选择车源类型" data-h5f-label="车规" required>
        <option value=""></option>
      </select>
    </div>
  </td>
</tr>
<tr>
  <th>车型</th>
  <td>
    <div class="FieldGroup">
      <select name="brandId" class="js-selectBrand form-control input-sm" data-placeholder="选择品牌" data-h5f-label="品牌" required data-minimum-results-for-search="0">
        <option value=""></option>
      </select>
      <select name="seriesId" class="js-selectSeries form-control input-sm" data-placeholder="选择车系" data-h5f-label="车系" required data-minimum-results-for-search="0">
        <option value=""></option>
      </select>
      <select name="modelId" class="js-selectModel form-control input-sm" data-placeholder="选择车型" data-h5f-label="车型" required data-minimum-results-for-search="0">
        <option value=""></option>
      </select>
      <input type="text" class="form-control input-sm Field--customModel js-customize" value="" placeholder="请输入自定义车型" data-from="modelId" data-to="modelName">
      <input type="hidden" name="brandName">
      <input type="hidden" name="seriesName">
      <input type="hidden" name="modelName">
    </div>
  </td>
</tr>
<tr>
  <th>外观</th>
  <td>
    <div class="FieldGroup">
      <select name="outerId" class="form-control input-sm js-selectOuter" data-placeholder="选择外观" data-h5f-label="外观颜色" required data-minimum-results-for-search="0">
        <option value=""></option>
      </select>
      <input type="text" class="form-control input-sm Field--customOuter js-customize" value="" placeholder="请输入自定义外观颜色" data-from="outerId" data-to="outerName">
      <input type="hidden" name="outerName">
    </div>
  </td>
</tr>
<tr>
  <th>内饰</th>
  <td>
    <div class="FieldGroup">
      <select name="innerId" class="form-control input-sm js-selectInner" data-placeholder="选择内饰" data-h5f-label="内饰颜色" required data-minimum-results-for-search="0">
        <option value=""></option>
      </select>
      <input type="text" class="form-control input-sm Field--customInner js-customize" value="" placeholder="请输入自定义内饰颜色" data-from="innerId" data-to="innerName">
      <input type="hidden" name="innerName">
    </div>
  </td>
</tr>
