.Page-header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.Page-breadcrumb {
  height: 100%;
  float: left;
  font-size: 18px;
  color: #333;

  &:before,
  ul {
    @include inline-block;
  }

  &:before {
    content: "\0020";
    width: 0;
    height: 100%;
  }

  ul {
    margin: {
      top: 0;
      bottom: 0;
    }
    padding-left: 0;
    list-style: none inside none;
    overflow: hidden;
  }

  li {
    float: left;

    + li:before {
      content: "/";
      margin: 0 5px;
    }
  }
}

.Page-main {
  padding-top: 30px;
}
