.ImageItem {
  @extend .Figure;

  &.ImageItem--add {
    border: $image-item-placeholder-border-width dashed $image-item-placeholder-border-color;
    background: $image-item-placeholder-bg-color none no-repeat 50% 50%;
    @include aspect_ratio($figure-aspect-ratio-width, $figure-aspect-ratio-height);
  
    > div {
      @include border-radius(0);
      @include text-middle("> span");
  
      &:after {
        display: none;
      }

      > * {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      > span {
        font-size: $image-item-placeholder-font-size;
        color: $image-item-placeholder-text-color;
      }
    }
    
    span span {
      display: block;
      font-weight: normal;
    }
  
    .fa {
      font-size: $image-item-placeholder-icon-font-size;
    }

    .Icon {
      @include square($image-item-placeholder-icon-size);
    }
  }
  
  &.is-empty,
  &:not(.is-empty) ~ .ImageItem--add,
  &.is-uploading .ImageItem-button {
    display: none;
  }

  &.is-uploading a {
    &[href=""],
    &[href="#"],
    &[href^="javascript"] {
      &:after {
        content: $image-item-waiting-text;
      }
    }
  }

  &.is-nongraphic a {
    > img {
      display: none;
    }

    &:after {
      content: attr(data-file-ext);
    }
  }

  a[href=""],
  a[href="#"],
  a[href^="javascript"],
  &.is-nongraphic a {
    &:after {
      font: {
        size: rem(24px);
        weight: normal;
      }
      color: #666;
      @include inline-block;
    }
  }

  a {
    &[href=""],
    &[href="#"],
    &[href^="javascript"] {
      cursor: default;

      > img {
        display: none;
      }

      &:after {
        content: $image-item-blank-text;
      }
    }
  }
}

figure.ImageItem {
  z-index: 2;
  margin: 0;
}

button.ImageItem {
  display: block;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.ImageItem-button {
  position: absolute;
  top: $image-item-deletion-offset-top;
  right: $image-item-deletion-offset-right;
  z-index: 1;
  width: $image-item-deletion-width;
  height: $image-item-deletion-height;
  padding: 0;
  border-style: none;
  background-color: $image-item-deletion-bg-color;
  color: $image-item-deletion-text-color;
  font-size: $image-item-deletion-font-size;
  cursor: pointer;

  @if whether-non-zero($image-item-deletion-border-radius) {
    @include border-radius($image-item-deletion-border-radius);
  }

  .Icon {
    @include fill_up;
  }
}
