.Page-sidebar {
  width: 200px;
  padding-top: 20px;
  float: left;
}

.Sidebar .Navs > ul > li > a {
  display: block;
  color: #666;

  &:hover {
    background-color: $layout-sidebar-item-hover;
  }
}

.Sidebar-navs {
  overflow: auto;
  font-size: 14px;

  > ul {
    > li {
      > a {
        height: 48px;
        padding: 0 25px;
        font-weight: normal;
        @include text-middle("i, span");

        i {
          width: 20px;
          font-size: 16px;
          text-align: center;
        }

        span {
          margin-left: 14px;
        }
      }

      > .Navs {
        display: none;

        a {
          height: 36px;
          padding-left: 59px;
          font-weight: 300;
          line-height: 36px;
        }
      }

      &.is-active {
        &.is-childless > a,
        > .Navs .is-active a {
          background-color: $layout-sidebar-item-hover;
        }

        > .Navs {
          display: block;
        }
      }
    }
  }

  &.Navs--hover {
    overflow: visible;

    > ul > li {
      position: relative;

      > .Navs {
        position: absolute;
        top: -5px;
        left: 100%;
        padding-left: 10px;

        ul {
          position: relative;
          padding: 5px 1px;
          border-radius: 2px;
          background-color: #fff;
          @include box-shadow(1px 1px 10px 1px rgba(0, 0, 0, .3));

          &:before {
            content: $UN-space;
            position: absolute;
            top: 21px;
            right: 100%;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-right-color: #fff;
            border-left-width: 0;
          }
        }

        li {
          min-width: 120px;
          @include nowrap;

          a {
            padding: 0 25px;
          }
        }
      }

      &:hover > .Navs {
        display: block;
      }
    }
  }
}
