$navbar-height: 60px !default;

$layout-header-height: $navbar-height !default;
$layout-header-bg-color: #fdaf2e !default;
$layout-header-border-color: #fda929 !default;

$layout-navbar-avatar-size: 30px !default;

$layout-sidebar-item-hover: #e7e7e7 !default;
