$toast-fade-duration: .2s;
$toast-vertical-padding: rem(15px) !default;
$toast-horizontal-padding: rem(22px) !default;
$toast-font-size: rem(28px) !default;
$toast-text-color: #fff !default;
$toast-bg-color: rgba(0, 0, 0, .5) !default;
$toast-border-radius: rem(100px) !default;
