$page-header-height: 64px;
$page-header-bg-color: #fff;
$page-header-box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

$page-brand-font-size: 20px;
$page-brand-font-weight: 600;
$page-brand-text-color: #fff;
$page-brand-bg-color: #002140;

$page-body-bg-color: #f0f2f5;

$page-sidebar-width: 256px;
$page-sidebar-bg-color: #001529;
$page-sidebar-text-color: rgba(255, 255, 255, .65);
$page-sidebar-text-hover: #fff;
$page-sidebar-item-height: 40px;
$page-sidebar-item-padding: 24px;
$page-sidebar-item-active: #1890ff;
$page-sidebar-sub-bg-color: #000c17;
$page-sidebar-top-padding: 16px;
$page-sidebar-bottom-padding: 16px;
$page-sidebar-box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
