.TabBar {
  width: 100%;
  color: $tab-bar-item-text-color;
}

.TabBar-item {
  @include flex(1);
}

.TabBarItem {
  padding: $tab-bar-item-vertical-padding 0;
  text-align: center;
  font: {
    size: $tab-bar-item-font-size;
    weight: $tab-bar-item-font-weight;
  }

  &.is-active {
    color: $tab-bar-item-active-text-color;
  }
}

.TabBarItem-content {
  @include inline-block(none);
}

.TabBarItem-icon {
  margin-bottom: $tab-bar-item-icon-gap;
  @include text-middle('.Icon, span');

  .Icon,
  span {
    @include square($tab-bar-item-icon-width);
  }

  span {
    background: transparent none no-repeat 50% 50%;
    background-size: contain;
  }
}

.TabBarItem-label {
  margin: 0;
}
