$layout-header-height: 64px;
$layout-header-bg-color: #fff;

$layout-body-bg-color: #f0f2f5;

$layout-sidebar-width: 256px;
$layout-sidebar-bg-color: #001529;
$layout-sidebar-text-color: rgba(255, 255, 255, .65);
$layout-sidebar-text-hover: #fff;
$layout-sidebar-item-height: 40px;
$layout-sidebar-item-padding: 24px;
$layout-sidebar-item-active: #1890ff;
$layout-sidebar-sub-bg-color: #000c17;
$layout-sidebar-top-padding: 16px;
$layout-sidebar-bottom-padding: 16px;
