@mixin contained_background( $url: none, $color: transparent ) {
  @if $url != none {
    $url: url($url);
  }

  background: $color $url no-repeat 50% 50%;
  background-size: contain;
}

@mixin bg-icon( $path, $ext: "png" ) {
  $url: $path + "." + $ext;
  $url2x: $path + "-2x." + $ext;

  @include covered_background($url);
  @include image-set(
      url($url) 1x,
      url($url2x) 2x
  );
}

@mixin bg-icon-contained( $path, $ext: "png" ) {
  $url: $path + "." + $ext;
  $url2x: $path + "-2x." + $ext;

  @include contained_background($url);
  @include image-set(
      url($url) 1x,
      url($url2x) 2x
  );
}
