@import "../utils/helper";
//= Reset
@import "../reset/bootstrap";
@import "../reset/font-awesome";
@import "../vendors/suitcss-sass/index";
@import "../vendors/buds/scss/buds";
@import "../reset/base";
//= Components
@import "../components/item";
@import "../components/card";
@import "../components/layer";
@import "../components/form";
@import "../components/operation";
@import "../components/table";
//= Extensions
@import "../extensions/bootstrap";

.ErrorGroup {
  font-size: 12px;
  color: #f00;

  .Error {
    margin: 5px 0 0;
  }
}
