$tab-bar-item-vertical-padding: rem(20px) !default;
$tab-bar-item-font-size: rem(24px) !default;
$tab-bar-item-font-weight: inherit !default;
$tab-bar-item-text-color: inherit !default;
$tab-bar-item-active-text-color: $theme-color !default;
$tab-bar-item-icon-width: rem(36px) !default;
$tab-bar-item-icon-gap: rem(10px) !default;
