*:focus {
  outline: none;
}

body {
  font-weight: 300;
}

img {
  max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none inside none;
}
