@import "../../stylesheets/helper";

:host {
  display: block;
  overflow: auto;
  width: $layout-sidebar-width;
  height: 100%;
  padding: {
    top: $layout-sidebar-top-padding;
    bottom: $layout-sidebar-bottom-padding;
  }
  float: left;
}

:host .Navs > ul > li > a {
  display: block;
  color: #666;
  @include transition(background-color .3s);

  &:hover {
    background-color: $layout-sidebar-item-hover;
  }
}

.Sidebar-navs {
  font-size: 14px;

  > ul {
    > li {
      > a {
        @include sidebar-menu-primary;
      }

      > .Navs {
        display: none;

        a {
          font-weight: $font-weight-base;
          @include sidebar-menu-secondary;
        }
      }

      &.is-active {
        &.is-childless > a,
        > .Navs .is-active a {
          background-color: $layout-sidebar-item-hover;
        }

        > .Navs {
          display: block;
        }

        .Menu-switcher .fa {
          @include rotate(90deg);
        }
      }

      &.is-childless .Menu-switcher {
        display: none !important;
      }
    }

    &.Menu--grouped:first-child {
      padding-top: 10px;
    }
  }

  .Menu {
    &:not(.Menu--grouped) .Menu-label {
      display: none;
    }

    &.Menu--grouped {
      .Menu-label {
        @include sidebar-menu-label;
      }
    }

    + .Menu--grouped {
      padding-top: 5px;

      .Menu-label {
        margin-top: 5px;
      }
    }
  }

  .Menu-switcher {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    line-height: 1;

    .fa {
      margin-right: 5px;
      @include transition(transform .3s ease);
    }
  }

  &.Navs--hover {
    overflow: visible;

    > ul > li {
      position: relative;

      > .Navs {
        position: absolute;
        top: -5px;
        left: 100%;
        padding-left: 10px;

        ul {
          position: relative;
          padding: 5px 1px;
          border-radius: 2px;
          background-color: #fff;
          @include box-shadow(1px 1px 10px 1px rgba(0, 0, 0, .3));

          &:before {
            content: $UN-space;
            position: absolute;
            top: 21px;
            right: 100%;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-right-color: #fff;
            border-left-width: 0;
          }
        }

        li {
          min-width: 120px;
          @include nowrap;

          a {
            padding: 0 25px;
          }
        }
      }

      &:hover > .Navs {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-min) {
  :host {
    @include sidebar-in-mobile("> .Sidebar-navs");
  }

  :host(.is-shown) {
    display: block;
  }
}
