---
layout: default
title: 卖好车统一 UI 框架

css:
  - path: /admin/vendor/select2/dist/css/select2.css
  - path: admin.css
    assets_pipeline: true
  - path: /admin/vendor/bootstrap-table/dist/bootstrap-table.min.css
js:
  - path: admin/global.js
    assets_pipeline: true
---
<!--[if lt IE 9]>
<div class="Layer--browserTip bg-warning text-warning"><i class="fa fa-warning"></i><span>本系统不能完全正常支持您所使用的浏览器，请升级或更换其他浏览器（强烈推荐 Google Chrome）访问。</span></div>
<![endif]-->
{% include header.html %}
<main class="Page-body">
  <div class="Page-sidebar Sidebar">
    <nav class="Sidebar-navs Navs">
      <ul class="Navs-menu Menu">
        <li data-flag="dashboard"><a href="{{ '/admin/dashboard/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-fw fa-dashboard"></i><span>工作台</span></a></li>
      </ul>
      <ul class="Navs-menu Menu Menu--grouped">
        <li class="Menu-label"><span>仓储管理系统</span></li>
        <li data-flag="checkIn">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-sign-in"></i><span>入库管理</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="orders"><a href="javascript:void(0);">业务订单</a></li>
              <li data-flag="assignment"><a href="javascript:void(0);">入库分配</a></li>
              <li data-flag="notices"><a href="javascript:void(0);">入库通知单</a></li>
              <li data-flag="checkIn"><a href="{{ '/admin/checkIn/checkInWarehouses/' | prepend: site.baseurl | prepend: site.url }}">待入库</a></li>
            </ul>
          </div>
        </li>
        <li data-flag="checkOut">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-sign-out"></i><span>出库管理</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="checking"><a href="javascript:void(0);">出库审核</a></li>
              <li data-flag="checkOut"><a href="javascript:void(0);">待出库</a></li>
            </ul>
          </div>
        </li>
        <li data-flag="basic">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-info-circle"></i><span>基础信息</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="warehouses"><a href="{{ '/admin/basic/warehouses/' | prepend: site.baseurl | prepend: site.url }}">仓库</a></li>
              <li data-flag="logs"><a href="{{ '/admin/basic/logs/' | prepend: site.baseurl | prepend: site.url }}">日志</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="Navs-menu Menu Menu--grouped">
        <li class="Menu-label"><span>运输管理系统</span></li>
        <li data-flag="itinerary">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-map"></i><span>路线管理</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="routes"><a href="javascript:void(0);">路线</a></li>
              <li data-flag="warehouses"><a href="javascript:void(0);">物流库</a></li>
            </ul>
          </div>
        </li>
        <li data-flag="invoice">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-file-excel-o"></i><span>运单管理</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="orders"><a href="{{ '/admin/invoice/orders/' | prepend: site.baseurl | prepend: site.url }}">运单</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="Page-content">
    <div class="Content container-fluid js-watermark">
      <div class="Content-header">
        {% if page.ancestors %}<div class="Breadcrumb"><i class="fa fa-map-marker"></i><ul>{% for ancestor in page.ancestors %}<li>{{ ancestor.title }}</li>{% endfor %}<li>{{ page.title }}</li></ul></div>{% endif %}
        <h1>{{ page.title }}</h1>
      </div>
      {{ content }}
      <div class="Area Area--table">
        <table class="js-showDataTable"></table>
      </div>
    </div>
  </div>
  {% ifhascontent newdata_dialog %}{% contentblock newdata_dialog %}{% endifhascontent %}
  {% ifhascontent other_dialogs %}{% contentblock other_dialogs %}{% endifhascontent %}
</main>
