---
layout: default
title: 卖好车统一 UI 框架

css:
  - path: /admin/vendor/select2/dist/css/select2.css
  - path: admin.css
    assets_pipeline: true
  - path: /admin/vendor/bootstrap-table/dist/bootstrap-table.min.css
js:
  - path: showcase/global.js
    assets_pipeline: true
---
<!--[if lt IE 9]>
<div class="Layer--browserTip bg-warning text-warning"><i class="fa fa-warning"></i><span>本系统不能完全正常支持您所使用的浏览器，请升级或更换其他浏览器（强烈推荐 Google Chrome）访问。</span></div>
<![endif]-->
{% include header.html %}
<main class="Page-body">
  <div class="Page-sidebar Sidebar">
    <nav class="Sidebar-navs Navs">
      <ul>
        <li data-flag="dashboard"><a href="{{ '/showcase/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-fw fa-dashboard"></i><span>工作台</span></a></li>
        <li data-flag="list">
          <a href="javascript:void(0);"><i class="fa fa-fw fa-table"></i><span>列表页</span></a>
          <div class="Navs">
            <ul>
              <li data-flag="centralized"><a href="{{ '/showcase/list/centralized/' | prepend: site.baseurl | prepend: site.url }}">表格中心化</a></li>
              <li data-flag="separated"><a href="{{ '/showcase/list/separated/' | prepend: site.baseurl | prepend: site.url }}">筛选区分离</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="Page-content">
    <div class="Content container-fluid js-watermark">
      <div class="Content-header">
        {% if page.ancestors %}<div class="Breadcrumb"><i class="fa fa-map-marker"></i><ul>{% for ancestor in page.ancestors %}<li>{{ ancestor.title }}</li>{% endfor %}<li>{{ page.title }}</li></ul></div>{% endif %}
        <h1>{{ page.title }}</h1>
      </div>
      {{ content }}
      <div class="Area Area--table">
        <table class="js-showDataTable"></table>
      </div>
    </div>
  </div>
  {% ifhascontent newdata_dialog %}{% contentblock newdata_dialog %}{% endifhascontent %}
  {% ifhascontent other_dialogs %}{% contentblock other_dialogs %}{% endifhascontent %}
</main>
