@import "../utils/variables";



//= Header

$layout-header-height: $navbar-height !default;
$layout-header-bg-color: #1e2332 !default;
$layout-header-border-color: transparent !default;
$layout-header-border-width: 0 !default;

$layout-brand-image-height: 24px !default;
$layout-brand-font-size: 22px !default;
$layout-brand-font-weight: 300 !default;
$layout-brand-text-color: #fff !default;
$layout-brand-separator-color: #fff !default;
$layout-brand-separator-gap: 21px !default;

$layout-navbar-avatar-size: 30px !default;

$layout-action-trigger-color: $layout-brand-text-color !default;



//= Body

$layout-body-bg-color: #fff !default;



//= Sidebar

$layout-sidebar-width: 220px !default;
$layout-sidebar-bg-color: transparent !default;
$layout-sidebar-text-color: inherit !default;
$layout-sidebar-text-hover: $layout-sidebar-text-color !default;
$layout-sidebar-item-height: 48px !default;
$layout-sidebar-item-padding: 25px !default;
$layout-sidebar-item-hover: transparent !default;
$layout-sidebar-item-active: $layout-sidebar-item-hover !default;
$layout-sidebar-sub-bg-color: transparent !default;
$layout-sidebar-top-padding: 20px !default;
$layout-sidebar-bottom-padding: 50px !default;



//= Content

$layout-content-top-padding: 30px !default;
$layout-content-bottom-padding: 30px !default;
$layout-content-heading-font-size: 24px !default;
