html,
body,
.Page-content,
.Page-sidebar,
.Page-main {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #eee;
}

a {
  color: inherit;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.Page {
  @include box-fixed-height(
    ".Page-header", $layout-header-height + 1px,
    ".Page-footer", 0,
    ".Page-content"
  );
}
