$box-border-radius: 0 !default;
$box-box-shadow: none !default;
$box-siblings-space: rem(8px) !default;
$box-header-height: rem(40px) !default;
$box-header-border-offset: rem(15px) !default;
$box-heading-font-size: rem(16px) !default;

@import "../../node_modules/handie/stylesheets/components/box";

.Box-header {
  height: $box-header-height;
  @include one-pixel-border(top, #e7e7e7);
  @include hd-device {
    &:before {
      left: $box-header-border-offset;
    }
  }

  h2 {
    margin: 0;
    font: {
      size: $box-heading-font-size;
      weight: bold;
    }
    line-height: 1;
  }
}

.Box-body .List {
  margin: {
    right: -($box-horizontal-padding);
    left: -($box-horizontal-padding);
  }

  &:first-child {
    margin-top: -($box-vertical-padding);
  }

  &:last-child {
    margin-bottom: -($box-vertical-padding);
  }
}
