$figure-border-radius: rem(4px) !default;

$image-item-deletion-width: rem(36px) !default;
$image-item-deletion-offset-top: 0 !default;
$image-item-deletion-offset-right: 0 !default;
$image-item-deletion-border-radius: 0 rem(4px) 0 rem(4px) !default;
$image-item-deletion-bg-color: rgba(0, 0, 0, .5) !default;
$image-item-deletion-text-color: #e7e7e7 !default;

$image-item-placeholder-border-width: 1px !default;
$image-item-placeholder-border-color: #d6d6d6 !default;
$image-item-placeholder-bg-color: #f4f5f7 !default;
$image-item-placeholder-font-size: rem(24px) !default;
$image-item-placeholder-text-color: rgba(0, 0, 0, .3) !default;
$image-item-placeholder-icon-size: rem(25px) !default;

@import "../../node_modules/handie/stylesheets/components/image-item";

.ImageItem > div > div {
  cursor: pointer;
  
  @include text-middle("> video, > audio, .ImageItem-placeholder");

  video,
  audio {
    max-width: 100%;
    max-height: 100%;
  }

  .Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: {
      top: rem(-40px);
      left: rem(-40px);
    }
    background-color: #fff;
    border-radius: rem(80px);
    color: #333;
    opacity: .5;
    @include square(rem(80px));
  }
}

.ImageItem-placeholder {
  margin: 0;
  padding: 0;
  font: {
    family: monospace;
    weight: bold;
  };
  color: rgba(0, 0, 0, .6);
  text-align: center;
}
