.Header {
  border-bottom: 1px solid $layout-header-border-color;
  background-color: $layout-header-bg-color;

  button {
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: transparent;
  }
}

.Header-breadcrumb,
.Header-extra,
.Header-operations {
  height: 100%;
}

.Header-breadcrumb {
  float: left;
  font-size: 18px;
  color: #333;

  &:before,
  ul {
    @include inline-block;
  }

  &:before {
    content: "\0020";
    width: 0;
    height: 100%;
  }

  ul {
    overflow: hidden;
  }

  li {
    float: left;

    + li:before {
      content: "/";
      margin: 0 5px;
    }
  }
}

.Header-operations {
  text-align: right;
  @include text-middle;

  .fa {
    font-size: 18px;
    color: #666;
    vertical-align: middle;

    + .fa {
      margin-left: 20px;
    }
  }
}



.Page-main {
  padding-top: 30px;
}
